<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to onlineLibrary, <%= @user %></h1>
    <p>
      You have successfully signed up to onlineLibrary. Please change your password, by clicking on Forgot your password?.<br>
    </p>
    <p>
      To set your password, just follow this link: <p><%= link_to 'Change my password', edit_password_url(@user, reset_password_token: @token) %></p>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
