<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to onlineLibrary, <%= @user %></h1>
    <p>
      You have successfully signed up to onlineLibrary. Please change your password, by clicking on Forgot your password?.<br>
    </p>
    <p>
      To reset password, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
