<h1> Search Results </h1>

 <% 
        #Example.api_call

        response = RestClient.get('https://www.googleapis.com/books/v1/volumes?q='+params[:q]+'&projection=lite')
        books_array = JSON.parse(response)
        #raise books_array.to_json
        %>

        <% books_array['items'].each do |book|%>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><%= book['volumeInfo']['title'] %></h2>
                <ul class="d-flex list-unstyled mt-auto">
                <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                    <small>California</small>
                </li>
                </ul>
            </div>
            </div>
        </div>
        <% end %>